<rules>

    <!-- Enforce canonical host -->
    <rule name="Canonical host" stopProcessing="true" patternSyntax="Wildcard">
        <match url="*" />
        <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_HOST}" pattern="www.whitevalleysoftware.com"  />
            <add input="{HTTP_HOST}" pattern="whitevalleysoftware.net"  />
            <add input="{HTTP_HOST}" pattern="www.whitevalleysoftware.net"  />
            <add input="{HTTP_HOST}" pattern="whitevalleysoftware.co.uk"  />
            <add input="{HTTP_HOST}" pattern="www.whitevalleysoftware.co.uk"  />
        </conditions>
        <action url="http://whitevalleysoftware.com/{R:0}" type="Redirect" redirectType="Permanent" />
    </rule>

    <!-- Enforce use of trailing slash -->
    <rule name="Trailing slash" stopProcessing="false">
        <match url="(.*[^/])$" />
        <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
        </conditions>
        <action url="{ToLower:{R:1}/}" type="Redirect" redirectType="Temporary" />
    </rule>
    
    <!-- Enforce use of lowercase -->
    <rule name="Case" stopProcessing="true">
        <match url="[A-Z]" ignoreCase="false" />
        <action url="{ToLower:{URL}}" type="Redirect" redirectType="Temporary"  />
    </rule>

    <!-- Different robots.txt for staging and live -->
    <rule name="Staged robots.txt" stopProcessing="true">
        <match url=".*robots\.txt$" />
        <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_HOST}" pattern="whitevalley-stage.azurewebsites.net" />
            <add input="{HTTP_HOST}" pattern="stage.whitevalleysoftware.com" />
            <add input="{HTTP_HOST}" pattern="whitevalley-test.azurewebsites.net" />
            <add input="{HTTP_HOST}" pattern="test.whitevalleysoftware.com" />
        </conditions>
        <action url="robots.stage.txt" type="Rewrite" />
    </rule>

</rules>