@import '_Settings';

body {
    color: #333;
    line-height: 1.5;
    background-color: #316594;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, a:hover, a:visited, a:active { text-decoration: none; cursor:pointer; }
h1, h2, h3 { font-weight: 300; }
h1, .h1 { font-size: 36px; }
h2, .h2 { font-size: 30px; }

img { max-width: 100%; } // ensure images don't break out of the viewport

.centertext { text-align: center; }


@media(min-width:768px) {
    body { font-size: 18px; }
}


// navigation
#navigation { z-index: 99;position: fixed; }
#navigation .menubar { border: 0;margin-bottom: 0;min-height: 7vh; font-weight: 300;}
#navigation .menubar a { color: #fafafa;line-height: 1.5em;height: auto; }
#navigation .menubar a:hover { text-decoration: none; }
#navigation .menubar .logo { max-width: 32px; margin-top: -6px; margin-right: 5px; }
#navigation .menubar .navbar-right { float: right; }
#navigation .logo { display: inline-block; }
@media(min-width:768px) {
    #navigation .menubar a { font-size: 24px;}
    #navigation .menubar .logo { max-width: 42px; max-height: 30px; margin-right: 15px; }
}
@media(max-width:767px) {
    #navigation .menubar { min-height: 0; }
    #navigation .menubar .brand { padding: 10px 0; }
    #navigation .menubar .navbar-text { padding-left: 0;margin-top: 10px;margin-bottom: 10px; }
}
@media(max-width:275px) { #navigation .menubar .navbar-right { display: none; } }
// bootstrap overrides
#navigation .navbar-toggle,
#navigation .navbar-toggle:active,
#navigation .navbar-toggle:focus,
#navigation .navbar-toggle:hover,
#navigation .navbar-toggle:visited { border: 0; background-color: $primary-color; }
#navigation .icon-bar { background-color: #fafafa; }
#navigation .navbar-collapse { border-top: 0; margin: 0; box-shadow:none; }



//todo: this needs to specific to a section
.cover h1 { font-size: 32px; }
@media(min-width:768px) {
    .cover h1 { font-size: 52px; }
}


// wraps
.wrap { background-color: #fff; width: 100%; position: relative; }
.wrap-primary { background-color: #316594; color: #fafafa; }
.wrap-primary a { color: #fafafa; }
.wrap-primary a:hover { color: #ccc; }
.wrap-highlight { background-color: #CEDAE4; }


// header
section.header { padding-top: 70px; }
section.header .content { min-height: 585px; }
section.header-slim .content { min-height: 300px; padding: 50px 0; }
section.header h1 { font-size: 64px; }
section.header h2 { font-size: 24px; }
section.header p { font-size: 20px; font-weight: 300; }

// a veil places a semi-opaque dark overlay over the content
.veil {
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(0, 0, 0, 0.6); // no fallback
    color: rgba(255, 255, 255, 1); // only change color if the background veil is supported 
}
.veil h1, .veil h2, .veil h3, .veil p {
    color: rgba(255, 255, 255, 1); // only change color if the background veil is supported 
}


// background - use when using background images on an element
.bg { background-position: 50% 50%; background-repeat: no-repeat; }
.bg.bg-right { background-position: 100% 50%; }
.bg.bg-left { background-position: 0 50%; }
.bg.bg-top { background-position: 50% 0; }
.bg.bg-bottom { background-position: 50% 100%; }
.bg.cover { height: 100%; width: 100%; background-size: cover; background-attachment: fixed; }
.bg.skrollable { height: 100%; width: 100%; background-attachment: fixed; }
@media(max-width:768px) {
    .bg.bg-xs-top { background-position: 50% 0; }
}
@media(max-width:992px) {
    .bg.bg-xs-top { background-position: 50% 0; }
    .bg.bg-sm-top { background-position: 50% 50px; }
}




// makes the content fill the screen
.fullpage { min-height: 1000px; min-height: 92vh; padding-top: 7vh; }

// adds default padding to content
article.content { padding: 100px 0; }
article.slim-content { padding: 30px 0; }


.preface p { font-style: italic; }


.feature { display: flex; flex-direction: row; flex-wrap: wrap; min-height: 92vh; margin: 50px 0; }
.feature .item { width: 100%; align-self: center; }
.feature .figure { order: 0; text-align:center; margin-bottom: 10px; }
.feature .content { order: 1; }
.feature-inverse .figure { order: 1; margin-top:50px; }
.feature-inverse .content { order: 0; }
@media(min-width:992px) {
    .feature .item { width: 50%; align-self: center; }
    .feature .figure { order: 1; text-align: right; }
    .feature .content { order: 0; padding-left: 10px; padding-right: 10px; padding: 0 20px 0 0; }
    .feature-inverse .figure { order: 0; text-align: left;}
    .feature-inverse .content { order: 1; padding: 0 0 0 20px; }
 }


// showcase boxes
.showcase { display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; padding: 50px 0; }
.showcase .box { 
    align-self: center; background-color: #a14a45; height: 200px; width: 100%; margin: 10px 0;
    padding: 0; text-align: center; 
    background-size: cover; //box width is greater than the image size on landscape mobile
}
.showcase .box a.veil { padding: 50px 10px; transition: background-color 1s ease; }
.showcase .box a.veil:hover { background-color: rgba(0,0,0,0); }
.showcase .box a.veil:hover h1 { color: rgba(0,0,0,0); }
.showcase .box h1 { font-size: 24px; transition: color .5s ease; }
@media(min-width:768px) {
    .showcase .box { width: 48%; margin: 1%; height: 300px; }
    .showcase .box a.veil { padding: 100px 20px; }
}
@media(min-width:992px) {
    .showcase .box { width: 350px; margin: 15px; }
}



// content alignment
.body { padding: 2em 0; }
.body.centerbox { display: table-cell; vertical-align: middle; }
.body.middletop { padding-top: 20%; }
@media(min-width:768px) {
    .body.middletop { padding-top: 34%; }
}


// buttons
.wv-btn-ghost, .wv-btn-ghost:hover, .wv-btn-ghost:active, .wv-btn-ghost:visited, .wv-btn-ghost:focus { background-color: rgba(0, 0, 0, 0); color: #fff; font-weight: 300; }
.wv-btn-ghost:hover, .wv-btn-ghost:focus { color: #ccc; border-color: #ccc; }
@media(max-width:767px) {
    .wv-btn { width: 100%; }
}


.actions { padding: 40px 0; }




.auto-scroll a {
    background-color: #f0f0f0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    color: #404040;
    top: -1em;
    right: 6%;
    position: absolute;
    font-size: 1.2em;
    height: 2em;
    width: 2em;
    text-align: center;
    padding-top: .15em;
}
.auto-scroll a:hover { color: #404040; }
.scroll-down a { padding-top: .3em; }






@media(min-width:768px) {

}
@media(max-width:767px) {

}

@media(min-width:768px) and (max-width:991px) {

    .auto-scroll a { font-size: 2em; }

}
@media(min-width:992px) {
    
    .auto-scroll a { font-size: 2.2em; }

}


