@{
    Page.Title = "Message sent";
}
<section class="wrap wrap-primary header header-slim">
    <div class="container">
        <article class="content centertext">
            <h1>Message sent</h1>
        </article>
    </div>
</section>

<section class="wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <article class="content">
                    <header><h1>Thank you</h1></header>
                    <p>Your message has been received. If you gave us your contact details then we will get in touch as soon as possible.</p>
                </article>
            </div>
            <div class="col-md-4">
                <article class="content">
                    <h1>Join in</h1>
                    <ul class="symantic icon-list">
                        <li><span class="fa fa-phone"></span><span>020 3239 8328</span></li>
                        <li><a href="mailto:hello@whitevalleysoftware.com" title="Email White Valley"><span class="fa fa-envelope"></span>hello@whitevalleysoftware.com</a></li>
                        <li><a href="https://twitter.com/whitevalleysoft" title="Follow White Valley Software on Twitter"><span class="fa fa-twitter"></span>@@whitevalleysoft</a></li>
                        <li><a href="https://plus.google.com/+WhiteValleySoftwareUK" title="Follow White Valley Software on Google+"><span class="fa fa-google-plus"></span>+WhiteValleySoftwareUK</a></li>
                    </ul>
                </article>
            </div>
        </div>
    </div>
</section>

